.display-card {
  width: 20rem;
  height: 17rem;
}

.card-cost-and-details {
  width: 100%;
}

.card-baths {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 .4rem 0 .4rem;
}

.card-beds {
  padding: 0 .4rem 0 0;
}

.sqft {
  padding: 0 0 0 .4rem;
}