.card-body {
  border-bottom: 5px solid #0275d8;
}

.card-cost-and-details {
  width: 100%;
}

.card-baths {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 .4rem 0 .4rem;
}

.card-beds {
  padding: 0 .4rem 0 0;
}

.sqft {
  padding: 0 0 0 .4rem;
}

.rent-circle-color {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .3rem;
  background-color: purple;
}

.rent-circle-color-map {
  border: 2px solid white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .3rem;
  background-color: purple;
}

.sale-circle-color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .3rem;
  background-color: red;
}

.sale-circle-color-map {
  border: 2px solid white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .3rem;
  background-color: red;
}

.splash {
  background-image: url("assets/house.jpg");
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash-input {
  height: 50px;
}

.suggestion-result:hover {
  cursor: pointer;
}

.home-bottom-header {
  text-align: center;
}

.home-card-icons {
  font-size: 5rem;
  margin: 2rem auto;
}

.home-card-text {
  text-align: center;
  margin-bottom: 2rem;
}

/* BUY PAGE */
.buy-filter-button {
  margin: .3rem;
}

.buy-input {
  margin: .3rem 0 .3rem 0;
}

.buy-add-on {
  margin: .3rem 0 0 0;
}

.buy-input-buttons {
  border-top: 1px solid rgb(226, 229, 235);
  border-bottom: 1px solid rgb(226, 229, 235);
  margin: 3rem 0 0 0;
  padding: .3rem 0 .3rem 0;
}

.buy-subsection {
  height: 100vh;
}

.map-row {
  height: 100vh;
}

.buy-display {
  margin-top: 10rem;
}

#house-area {
  margin-top: 160px;
  box-shadow: -3px 4px 4px gray;
}

#left {
  margin-top: 161px;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.search-results {
  margin-top: 500px;
}

.selected  {
  color: red !important;
}

@media only screen and (max-width: 1000px) {
  #bed-bath, #home-type {
    display: none;
  }
}