.display-card {
  width: 20rem;
  height: 17rem;
}

.card-cost-and-details {
  width: 100%;
}

.card-baths {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 .4rem 0 .4rem;
}

.card-beds {
  padding: 0 .4rem 0 0;
}

.sqft {
  padding: 0 0 0 .4rem;
}

.circle-color {
  /* border: 1px solid red; */
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .3rem;
  background-color: purple;
}

.splash {
  background-image: url("assets/house.jpg");
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash-input {
  height: 200px;
}

.home-bottom-header {
  text-align: center;
}

/* .tile {
  min-width: 20rem;
} */